
    <link rel="stylesheet" href="/public/main.css" />

    <h1 class="title">Eye Candy Blog</h1>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            
          <ul class="nav nav-pills">
            <form method="post" action="/">
              <button class="btn" type="submit" name="button">Home</button>
            </form>
            <form method="post" action="/hair">
              <button class="btn" type="submit" name="button">Hair</button>
            </form>
            <form method="post" action="/lifestyle">
              <button class="btn" type="submit" name="button">Lifestyle</button>
            </form>
            <form method="post" action="/skin">
              <button class="btn" type="submit" name="button">Skin</button>
            </form>
            <form method="post" action="/staff">
              <button class="btn" type="submit" name="button">Staff</button>
            </form>
            <form method="post" action="/commentary">
              <button class="btn" type="submit" name="button">Commentary</button>
            </form>
            <form method="post" action="/about">
              <button class="btn" type="submit" name="button">About</button>
            </form>
          </ul>
          
        </header>
      </div>



