
<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/public/main.css" />
<div class="about-container">
        <div class="about-row row1">
                                        <a href="https://www.instagram.com/averielinn/">
                                <img src="/public/assets/icons8-instagram.svg" width="50">
                        </a>
                </br>
                        <a href="www.linkedin.com/in/
                        averie-michel-13a793172
                        ">
                                <img src="/public/assets/icons8-linked-in.svg" width="50">
                        </a>
                </br>
                        <a href="https://www.facebook.com/averie.strunk.5">
                                <img src="/public/assets/icons8-facebook.svg" width="50">
                        </a>
        
        </div>
        <div class="about-row row2">
                <p>Phone:</br> 580.736.4620 </br>
                Email:  as.icandyesthetics </br> @gmail.com
                </p>
        </div>
        <div class="about-row row3">

                <p>2126 N HWY 81, </br> Suite 44 </br> Duncan, OK 73533
                </p>
        </div>
        <div class="about-row row4">
                <h5>Hello! My name is Averie Michel. I've been in the beauty industry for nearly 10 years! This page is for hairstylists to find information on balancing the emotional and physical tole this career will have on you. I hope you find help here.  </h5>
        </div>
</div>











<%- include('partials/footer.ejs') %>