<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/public/main.css" />

<div class="hair-container">
        <div class="hair-intro">
                <p>Why do we invest so much money in our hair? </br>Hair is not only a big part of our appearance, but it also directly effects our confidence.</br> Your hair is a canvas for self-expression!</p>
        </div>
        <div class="hair-row1">
                <h3>Hair Tips from Professionals</h3>
                <a href="https://www.allure.com/story/best-hair-tips">Pro stylist tips</a></br>
                <a href="https://www.cosmopolitan.com/style-beauty/beauty/advice/a3508/salon-hair-tips-tricks/">10 rules you're probably breaking</a></br>
                <a href="https://www.hairbylarisalove.com/my-blog/2016/2/26/yp6qtl8mpl9f6gfg45bne13wt4fdcu">When to trust your stylist</a></br>
        </div>
        <div class="hair-row2">
                <h3>Tutorials & Techniques</h3>
                <a href="https://therighthairstyles.com/hair-tutorials-diy/">DIY tutorials</a></br>
                <a href="https://www.goodhousekeeping.com/beauty/hair/tips/g386/hair-styling-tips/">Tips and Techniques</a></br>
                <a href="https://bestlifeonline.com/top-hollywood-hair-tips/">In's and Out's of haircare</a></br>
        </div>
</div>
<%- include('partials/footer.ejs') %>