<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/public/main.css" />

<div class="home-container">
    <div class="home-intro">
        <h1>Welcome to my blog! </h1>
    </div>
    <div class="home1">
        <img src="/public/assets/PNG image-0F6C20F2BD15-1.png" width="200">
    </div>
    <div class="home2">
        <a href="https://www.facebook.com/groups/442940469742338/"><img src="/public/assets/icons8-facebook.svg" width="200px"></a>
    </div>
    <div class="home3">
        “I think that the most important thing a woman can have- next to talent, of course- is her hairdresser.” – Joan Crawford
    </div>
</div>

<%- include('partials/footer.ejs') %>