<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/public/main.css" />
<div class="lifestyle-container"> 
        <div class="lifestyle-intro row">
                <p> The honest truth about being a hairstylist is: it’s hard.</br> It’s stressful both mentally and physically. Now, for most of us, it’s worth it. </br>For many of us, we see our clients more than we see our own parents and friends. </br> We know the in’s and out’s of their lives. We feel their feelings with them. </br>When you do their hair for their family member’s funeral, </br>when their kids go off to college, when they get that job or get accepted into that program/school. </br>That’s the real reason that this career is worth it. There’s also the physical struggle that comes with it. </br>What you’ll find here is resources for stylists on how to take care of yourself.</br> We take care of our clients all day, everyday. It’s important to remember not to neglect ourselves. </br>“You can’t pour from and empty cup.” </p>

        </div>
       
        <div class="mental-health row">
                                <h3>Mental Health</h3>
                <a href="https://behindthechair.com/articles/hairdressers-mental-health-heres-why-it-matters/">Why it matters</a></br>
                <a href="https://www.linkedin.com/pulse/mental-illness-depression-salon-michael-vallance/">Affected by depression and mental illness </a></br>
                <a href="https://studio.salonory.com/business-builders/hairstylist-anxiety-and-mental-health/">Understanding hairstylist anxiety and burnout</a></br>
                <a href="https://cosmeticsbusiness.com/l-or-al-professionnel-launches-free-mental-health-resource-for-hairdressers-209070">Free mental health resources</a></br>
        </div>
        <div class="physical-health row">
                <h3>Physical Health</h3>
                <a href="https://www.liveabout.com/all-the-things-no-one-tells-you-about-being-a-hairstylist-3517761">What no one tells you about...</a> </br>
                <a href="https://taylorandrew.com/managing-physical-demands-cosmetologist/">Managing the physical demands</a></br>
                <a href="https://www.simplyorganicbeauty.com/hair-stylist-health-issues/">Health issues to talk about</a></br>
                <a href="https://hairstory.com/blogs/news/hairdresser-health-risks-remedies">Health risks and remedies</a>
        </div>

</div>



<%- include('partials/footer.ejs') %>