<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/public/main.css" />

<div class="skin-container">
        <div class="skin-intro">
                <p>There is a plethera of information on the internet about how to care for your skin. </br>But how do you know what applies to you?</br> Here are some articles on how to find your skin type,</br> as well as false information you should be aware of!</p>
        </div>
        <div class="skin-row1">
                <h3>How to: skincare!</h3>
                <a href="https://www.cerave.com/skin-smarts/skincare-tips-advice/what-skin-type-do-i-have">What's your skin type?</a></br>
                <a href="https://www.md-factor.com/blogs/news/how-to-choose-the-skincare-products-best-suited-for-your-skin">How to choose product</a></br>
                <a href="https://www.aad.org/public/everyday-care/skin-care-basics/care">Basic skincare</a></br>
        </div>
        <div class="skin-row2">
                <h3>Myths</h3>
                <a href="https://www.forbes.com/sites/jonisweet/2021/12/28/11-skincare-myths-you-should-stop-believing-according-to-dermatologists/?sh=4a47f2e43611">11 skin care myths</a></br>
                <a href="https://www.libertylondon.com/us/skincare-myths.html">Debunked by experts</a></br>
                <a href="https://www.grove.co/blog/how-many-skincare-products-are-too-many#4Zf9lojiWvtD5nVNHCSmEH">Using too many products?</a></br>
        </div>
</div>

<%- include('partials/footer.ejs') %>