<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/public/main.css" />
        

        <div class="staff-container">
                <h2>Find your stylist</h2>
                <div class="stylist">
                        <h3><a href="https://www.facebook.com/abrahamnlacy.ramirez"><img src="/public/assets/icons8-facebook.svg"></a>Lacy Ramirez</h3>
                        
                </div>
                <div class="stylist">
                        <h3><a href="https://www.facebook.com/katie.carlisle.925"><img src="/public/assets/icons8-facebook.svg"></a>Katie Carlisle</h3> 
                        
                </div>
                <div class="stylist">
                        <h3><a href="https://www.facebook.com/tiffany.fincher.14"><img src="/public/assets/icons8-facebook.svg"></a>Tiffany Fincher</h3>
                        
                </div>
                <div class="stylist">
                        <h3><a href="https://www.facebook.com/mallory.ogan"><img src="/public/assets/icons8-facebook.svg"></a>Mallory Ogan</h3>
                        
                </div>
                <div class="stylist">
                        <h3><a href="https://www.facebook.com/victoria.lipscomb.7"><img src="/public/assets/icons8-facebook.svg"></a>Victoria Lipscomb</h3>
                        
                </div>
                <div class="stylist">
                        <h3><a href="https://www.facebook.com/groups/2817597261619345"><img src="/public/assets/icons8-facebook.svg"></a>Blanca Carrasco</h3>
                        
                        
                </div>
                <div class="stylist">
                        <h3><a href="https://www.facebook.com/katie.laraye"><img src="/public/assets/icons8-facebook.svg"></a>Katie Dobbins</h3>
                        
                </div>
                <div class="stylist">
                        <h3><a href="https://www.facebook.com/carol.travis.5895"><img src="/public/assets/icons8-facebook.svg"></a>Carol Travis</h3>
                        
                </div>
               
        </div>
<%- include('partials/footer.ejs') %>